<div class="row" ng-cloak>
      <div class="col-lg-12">
        <h2>Services</h2>

        <div class="row service" ng-repeat="service in services">
          <div class="col-md-2">
            <img ng-src="{{service.image}}" />
          </div>

          <div class="col-md-10">
            <h3>{{service.name}}</h3>
            <p>{{service.description}}</p>
            <a href="contact.html" class="btn btn-primary">Contact Us</a>
          </div>
        </div>

        <h4>All Diagnostics are <em>{{diagnosticPrice}}</em></h4>
      </div>
</div>
